:root {
	--main-black: #212121;
	--main-grey: #757575;
	--main-white: #ffffff;
	--main-blue: #2196f3;
	--font-weight-bold: 700;
	--font-weight-regular: 500;
	--font-size-main: 16px;
}
body {
	font-family: Roboto;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--main-black);
	background: var(--main-white);
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
/* Навігація */
.logo {
	font-family: Raleway;
	font-weight: var(--font-weght-bold);
	font-size: 26px;
	line-height: 1.192;
}
.nav-link {
	font-weight: var(--font-weight-regular);
	line-height: 1.14;
	color: var(--main-black);
	letter-spacing: 0.02em;
}
.web,
.nav-link-current {
	color: var(--main-blue);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--main-blue);
}
.contacts {
	line-height: 16px;
	color: var(--main-grey);
	font-weight: var(--font-weight-regular);
	line-height: 1.145;
	letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
	color: var(--main-grey);
	color: var(--main-blue);
}
/* Герой */
.hero {
	text-align: center;
	background: #2f303a;
	width: 1600px;
}
.hero-headline {
	text-transform: uppercase;
	font-size: 44px;
	line-height: 1.36;
	color: var(--main-white);
	font-weight: 900;
	letter-spacing: 0.06em;
	text-align: center;
}
.hero-btn {
	font-family: inherit;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-main);
	line-height: 1.875;
	letter-spacing: 0.06em;
	text-align: center;
	line-height: 1.88;
	height: 50px;
	width: 216px;
	color: var(--main-white);
	background: var(--main-blue);
}
.hero-btn:hover,
.hero-btn:focus {
	color: var(--main-black);
	background: #f5f4fa;
	cursor: pointer;
}
/* Особливості */
.title-features {
	visibility: hidden;
}
.subtitle-features {
	font-size: 14px;
	line-height: 1.14;
}
.desc-features {
	line-height: 1.71;
	color: var(--main-grey);
}
/*Наша команда */
.our-team {
	text-align: center;
}
.section-tittle {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.team-members {
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-main);
	line-height: 1.187;
}
.job-title {
	font-size: var(--font-size-main);
	line-height: 1.187;
	color: var(--main-grey);
}

/* Футер */
.footer {
	background: #2f303a;
	width: 1600px;
}
.city-address {
	line-height: 1.71;
	font-style: normal;
	color: var(--main-white);
}
.logo-footer {
	color: var(--main-white);
}
.contacts-footer {
	color: rgba(255, 255, 255, 0.6);
	line-height: 24px;
	font-style: normal;
	line-height: 1.71;
	text-align: left;
}
/* Фільтри */
.filters-btn {
	font-size: var(--font-size-main);
	font-weight: var(--font-weight-regular);
	line-height: 26px;
	line-height: 1.625;
	color: var(--main-black);
	background: #f5f4fa;

	letter-spacing: 0.03em;
	text-align: center;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: Roboto;
}
.filters-btn:hover,
.filters-btn:hover {
	color: var(--main-white);
	background: var(--main-blue);
	cursor: pointer;
	box-sizing: border-box;
}
/* Проєкти */
.main-headline {
	visibility: hidden;
}
.projects-headline {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.projects-desc {
	font-size: var(--font-size-main);
	line-height: 1.875;
	color: var(--main-grey);
}
